.header {
    overflow: hidden;
    background-color: blue;

}
 .header p{
    float: left;
    color: black;
    text-align:  center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius:  4px;

 }
 .header p.logo {
    font-size: 25px;
    font-weight: bold;
    color: purple;
     
 }
 .header p:hover {
    background-color: brown;
    color: peru;
 }
 .header p.active {
    background-color: palegreen;
    color: aqua;
 }
 .header-right {
    float: right;
 }
 @media  screen and (max-width:500px) {
    .header p{
        float: none;
        display: block;
        text-align: left;


    }
    .header-right{
        float: none;
    }
    
 }